body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

button{
  margin-bottom: 1vh;
  max-width: 150px;
}

.card{
  padding: 2vh 2vw;
  margin: 5px;
}


